/*Bootstrap icon*/

/*Universal selectors*/
/*App*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kode+Mono:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: PT Sans, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary: #5a639c;
  --darkBg: #0f141c;
  --altBg: #151823;
  --accent: #333;
  --darkGray: #444;
  --bg: #f5f7f8;
}

body {
  background-color: var(--bg);
  font-family: "Inter", sans-serif;
}

.container-fluid {
  padding: 0;
}

footer {
  backdrop-filter: blur(5px);
}

.btn:hover {
  background-color: var(--primary);
  color: var(--bg);
  border: 1px solid var(--darkBg);
}

a {
  text-decoration: none;
}

.display-2 {
  color: var(--altBg);
}

/*navigation*/
#offcanvasNavbar {
  background-color: var(--darkBg);
}

img[alt="logo"] {
  width: 4rem;
  border-radius: 100%;
}

nav {
  /* background-color: var(--darkBg); */

  & ul {
    & a.nav-link {
      color: var(--bg);
      background-color: var(--darkBg);
      margin: 1rem;
      box-shadow: 0.1vw 0.1vw 0.1vw var(--primary);
      transition: all 1s;
      &:hover {
        color: var(--primary);
        box-shadow: unset;
      }
    }
  }
}

.nav-link:target,
.nav-link[href="landing"]:target,
.nav-link[href="about"]:target,
.nav-link[href="resume"]:target,
.nav-link[href="skills"]:target,
.nav-link[href="testimonials"]:target,
.nav-link[href="projects"]:target,
.nav-link[href="contact"]:target {
  color: var(--primary);
}

.nav-item a {
  font-weight: bold;
}

nav a:active {
  color: var(--bg);
}
/*navigation*/

.max-height h2 {
  margin-top: 4rem;
  text-align: center;
}

.card {
  margin: auto;
  background-color: inherit;
}

.row {
  margin: 0;
  padding: 0;
  width: 100vw;
}

/*landing section*/
#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: var(--bg);
  height: 100vh;
  overflow: hidden;
}

img[alt="landing-img"] {
  width: 20rem;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;

  & ::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #5f91ff,
      rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
  }

  & ::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(
      -45deg,
      rgba(0, 0, 255, 0),
      #5f91ff,
      rgba(0, 0, 255, 0)
    );
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    -webkit-animation: shining 3000ms ease-in-out infinite;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
  }
}

.shooting_star:nth-child(1) {
  top: calc(50% - 159px);
  left: calc(50% - 36px);
  -webkit-animation-delay: 9992ms;
  animation-delay: 9992ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 9992ms;
  animation-delay: 9992ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 70px);
  left: calc(50% - 244px);
  -webkit-animation-delay: 2943ms;
  animation-delay: 2943ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 2943ms;
  animation-delay: 2943ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 9px);
  left: calc(50% - 152px);
  -webkit-animation-delay: 5881ms;
  animation-delay: 5881ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 5881ms;
  animation-delay: 5881ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -80px);
  left: calc(50% - 139px);
  -webkit-animation-delay: 5270ms;
  animation-delay: 5270ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 5270ms;
  animation-delay: 5270ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -139px);
  left: calc(50% - 9px);
  -webkit-animation-delay: 7028ms;
  animation-delay: 7028ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 7028ms;
  animation-delay: 7028ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 178px);
  left: calc(50% - 240px);
  -webkit-animation-delay: 8930ms;
  animation-delay: 8930ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 8930ms;
  animation-delay: 8930ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 104px);
  left: calc(50% - 276px);
  -webkit-animation-delay: 8043ms;
  animation-delay: 8043ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 8043ms;
  animation-delay: 8043ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -64px);
  left: calc(50% - 206px);
  -webkit-animation-delay: 8320ms;
  animation-delay: 8320ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 8320ms;
  animation-delay: 8320ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -56px);
  left: calc(50% - 254px);
  -webkit-animation-delay: 5222ms;
  animation-delay: 5222ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 5222ms;
  animation-delay: 5222ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 130px);
  left: calc(50% - 196px);
  -webkit-animation-delay: 6916ms;
  animation-delay: 6916ms;
}
.shooting_star:nth-child(10)::before,
.shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 6916ms;
  animation-delay: 6916ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -73px);
  left: calc(50% - 203px);
  -webkit-animation-delay: 1866ms;
  animation-delay: 1866ms;
}
.shooting_star:nth-child(11)::before,
.shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 1866ms;
  animation-delay: 1866ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - 159px);
  left: calc(50% - 29px);
  -webkit-animation-delay: 274ms;
  animation-delay: 274ms;
}
.shooting_star:nth-child(12)::before,
.shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 274ms;
  animation-delay: 274ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 112px);
  left: calc(50% - 62px);
  -webkit-animation-delay: 619ms;
  animation-delay: 619ms;
}
.shooting_star:nth-child(13)::before,
.shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 619ms;
  animation-delay: 619ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -167px);
  left: calc(50% - 79px);
  -webkit-animation-delay: 5269ms;
  animation-delay: 5269ms;
}
.shooting_star:nth-child(14)::before,
.shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 5269ms;
  animation-delay: 5269ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 37px);
  left: calc(50% - 254px);
  -webkit-animation-delay: 2669ms;
  animation-delay: 2669ms;
}
.shooting_star:nth-child(15)::before,
.shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 2669ms;
  animation-delay: 2669ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -62px);
  left: calc(50% - 273px);
  -webkit-animation-delay: 5403ms;
  animation-delay: 5403ms;
}
.shooting_star:nth-child(16)::before,
.shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 5403ms;
  animation-delay: 5403ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -112px);
  left: calc(50% - 60px);
  -webkit-animation-delay: 2264ms;
  animation-delay: 2264ms;
}
.shooting_star:nth-child(17)::before,
.shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 2264ms;
  animation-delay: 2264ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 72px);
  left: calc(50% - 129px);
  -webkit-animation-delay: 1362ms;
  animation-delay: 1362ms;
}
.shooting_star:nth-child(18)::before,
.shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 1362ms;
  animation-delay: 1362ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 80px);
  left: calc(50% - 276px);
  -webkit-animation-delay: 7037ms;
  animation-delay: 7037ms;
}
.shooting_star:nth-child(19)::before,
.shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 7037ms;
  animation-delay: 7037ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -163px);
  left: calc(50% - 31px);
  -webkit-animation-delay: 116ms;
  animation-delay: 116ms;
}
.shooting_star:nth-child(20)::before,
.shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 116ms;
  animation-delay: 116ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

#landing-content {
  position: absolute;
}

.landing-details {
  display: flex;
  align-items: center;
  margin: 5rem auto;
  text-align: center;
}

.landing-title {
  font-family: "Kode Mono", sans-serif;
  font-size: 3.4rem;
}

.landing-text {
  text-align: center;
}

@media (width < 426px) {
  #landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    text-align: center;

    & .landing-details {
      display: flex;
      flex-direction: column;
    }
  }

  .landing-title {
    margin: 5rem auto 1rem;
  }

  img[alt="landing-img"] {
    width: 13rem;
  }

  .landing-text {
    margin-top: 1rem;
  }
}

@media (max-width: 769px) and (min-width: 426px) {
  #landing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    text-align: center;

    & .landing-details {
      display: flex;
      flex-direction: column;
    }
  }

  img[alt="landing-img"] {
    width: 18rem;
    margin-bottom: 1rem;
  }

  .landing-text {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .landing-title {
    margin-top: 7rem;
  }

  img[alt="landing-img"] {
    width: 20rem;
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/*landing section*/

/*about section*/
.wrapper {
  list-style: none;

  & a {
    color: var(--darkBg);
  }
}

.location{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: .5rem;
  margin-left: .7rem;
}

/* .about-content{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

img[alt="about-img"] {
  width: 20rem;
}

.wrapper .icon {
  position: relative;
  background: var(--bg);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0072b1;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  .about-text {
    text-align: center;
    width: 80%;
    margin: auto;
  }

  img[alt="about-img"] {
    width: 15rem;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 769px) {
  #about {
    margin-top: 3rem;
  }

  #about-content {
    padding: 2rem;
  }
}
/*about section*/

/*resume section*/
.resume-background {
  background: url("https://robynainsley21.github.io/images/vue-portfolio-images/glen-carrie-TfzeRFtlkFA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  color: var(--bg);

  & h2 {
    color: var(--bg);
  }
}

.blur-background {
  backdrop-filter: blur(8px);
  width: 100vw;
  padding: 0;
}

:is(img[alt="skill-img"]) {
  width: 5rem;
  margin: auto;
}

img[alt="edu-img"] {
  width: 9rem;
}

.line {
  height: 2px;
  width: 10%;
  background-color: var(--accent);
  margin: 3rem auto;
}

.edu-box {
  display: flex;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
  padding: 2rem;
  border: 1px solid;
  color: var(--bg);

  & .btn {
    color: var(--bg);
  }
}

.col-item {
  width: 50%;
}

.btn {
  border: 1px solid;
  width: 30%;
}

@media (width < 426px) {
  .edu-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & .col-item {
      width: 100%;
    }
  }

  .btn {
    width: 50%;
  }
}

@media (max-width: 769px) and (min-width: 426px) {
  .edu-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
}
/*resume section*/

/*skills section*/
@-webkit-keyframes spin-icon {
  100% {
    background-position: -44px 0;
  }
}

@keyframes spin-icon {
  100% {
    background-position: -44px 0;
  }
}

@-webkit-keyframes float-icon {
  100% {
    transform: translateY(-10px);
  }
}

@keyframes float-icon {
  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes float-icon-shadow {
  100% {
    transform: scale(0.85, 0.85) translateY(10px);
  }
}

@keyframes float-icon-shadow {
  100% {
    transform: scale(0.85, 0.85) translateY(10px);
  }
}

.skillIcon {
  width: 5rem;
  height: 5rem;
  margin: auto;
  background: inherit;
  border-radius: 50%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: spin-icon 2s cubic-bezier(0.68, -0.55, 0.265, 1.55)
      infinite,
    float-icon 1s ease infinite alternate;
  animation: spin-icon 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite,
    float-icon 1s ease infinite alternate;
}

.skillIcon::before {
  content: "";
  width: 50px;
  height: 10px;
  margin-left: -25px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-animation: float-icon-shadow 1s ease infinite alternate;
  animation: float-icon-shadow 1s ease infinite alternate;
}

.skill-card {
  background-color: inherit;
  height: 25rem;
}

.skill-text {
  height: 15rem;
  overflow-y: auto;
  margin-bottom: 1rem;
}

@media screen and (width < 426px) {
  .skill-card {
    width: 90%;
  }
}
/*skills section*/

/*testimonials section*/
#testimonials {
  background-color: var(--darkBg);
  color: #aaa;

  & h2 {
    color: var(--bg);
  }
}

:is(img[alt="person-img"], img[alt="project-img"]) {
  height: 8rem;
  margin: auto;
}

.testimonial-card {
  height: 30rem;
  padding: 1rem;
  background: var(--accent);
  color: #aaa;
}

.testimonial-content {
  height: 100%;
  overflow: auto;
  padding: 1rem;
}

@keyframes LineFadeIn {
  0% {
    opacity: 0;
    d: path(
      "M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "
    );
    stroke: #fff;
  }
  50% {
    opacity: 1;
    d: path(
      "M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"
    );
    stroke: #888bff;
  }
  100% {
    opacity: 1;
    d: path(
      "M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"
    );
    stroke: #545581;
  }
}

@keyframes ContentFadeIn {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ImageFadeIn {
  0% {
    transform: translate(-0.5rem, -0.5rem) scale(1.05);
    opacity: 0;
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

img[alt="card-img"] {
  width: 100%;
}

@media screen and (min-width: 426px) {
  .card {
    width: 400px;
  }
}

@media screen and (max-width: 426px) {
  .testimonial-card {
    width: 255px;
  }

  .testimonial-content {
    padding: 0;
    text-align: center;
  }
}
/*testimonials section*/

/*projects section*/
.buttons-box {
  display: flex;
  justify-content: space-around;
}

.project-card {
  height: 23rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: inherit;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  & .card-image {
    height: 8.5rem;
    position: relative;
    overflow: hidden;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px #0000008f, 0 4px 25px 0px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  & .project-header {
    width: 90%;
  }
}

@media screen and (max-width: 426px) {
  .project-card {
    width: 260px;
    height: 24rem;

    & .card-image {
      margin-top: -10px;
      width: auto;
      height: 7.2rem;
    }
  }

  .project-btn {
    width: 6rem;
  }
}
/*projects section*/

/*contact section*/
#contact {
  height: 100vh;
  padding-bottom: 4rem;
}

.contact-background {
  padding-bottom: 5rem;
}

.contact-content {
  background-color: var(--accent);
  height: 50%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.form-box {
  backdrop-filter: blur(5px);
  border: 1px solid var(--accent);
  height: 115%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: -30px;
  margin-left: -20px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px #0000008f, 0 4px 25px 0px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);

  & input {
    background-color: inherit;
  }

  & .contact-btn {
    color: var(--bg);

    &:hover {
      border: 1px solid var(--bg);
      background-color: var();
    }
  }

  & label {
    color: var(--bg);
  }
}

.contact-details {
  color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 4rem;

  & a {
    color: var(--bg);
  }
}

@media screen and (max-width: 769px) and (min-width: 426px) {
  #contact h6 {
    color: var(--bg);
  }

  .form-box {
    width: 90%;
    height: 60%;
    margin: -20px auto 3rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  :is(#exampleInputName1, #exampleInputEmail1) {
    width: 90%;
  }

  .contact-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    align-items: center;

    & :first-child {
      grid-column: span 4;
    }
  }

  .icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & i {
      margin: 1rem;
    }
  }

  #contact h6 {
    text-align: center;
  }

  .contact-background {
    padding-bottom: 6rem;
  }

  footer {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 426px) {
  .form-box {
    background-color: var(--primary);
    margin: auto;
    height: 60%;
    width: 92%;
    margin-top: -45px;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .contact-content {
    margin-top: 0;
    background-color: var(--bg);
  }

  .contact-item {
    width: 90%;
    margin: 0 auto;
  }

  :is(#exampleInputName1, #exampleInputEmail1) {
    width: 100%;
  }

  .contact-details {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--bg);
    color: var(--altBg);
    border: 1px solid;
    border-radius: 10px;
    margin: 1.5rem auto;

    & :first-child {
      grid-column: span 4;
      font-size: 1.5rem;
    }

    & a {
      color: var(--altBg);
    }
  }

  .contact-btn {
    width: 6rem;
    margin: 0.4rem 0.6rem;
  }

  .contact-background {
    padding-bottom: 9rem;
  }
}
/*contact section*/
